.profile-wrap {
    border: 1px solid #bdc3c7;
    border-radius: 2px;
    margin-top: 25px;
    padding: 10px;
}

.profile-photo {
    margin-bottom: 5px;
}

.profile-photo img {
    display: block;
    width: 100%;
    height: 175px;
}